.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 10%;
  padding: 0.5rem;
  border: 1px solid var(--primary-red);
}

.about-heading {
  color: var(--primary-green);
  text-transform: upperCase;
}

@media (max-with: 468px) {
  .profile-img {
    width: 10rem;
  }
}
