:root {
  --primary-green: #08eb08;
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
}
