body {
  background: #0f0f0f;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(63, 60, 60);
}

.title {
  font-size: 4em;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(77, 72, 72, 0.25) 25,
    0 0.4em 1.25em 0 rgba(15, 15, 15, 0.15);
  padding: 2em 3em !important;
}

.date {
  color: rgb(14, 28, 233);
}

#description {
  margin: 2em 1 2em 1;
  color: rgb(238, 12, 12);
  font-size: 1.2rem;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: rgb(240, 95, 11);
}

.lichtButton {
  background-color: #06d6a0;
}

.lichtButton:hover {
  background-color: #0ac593;
}

.holzButton {
  background-color: #f9c74f;
}

.holzButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 786px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(12, 11, 11);
    margin-top: 1.5em;
  }
}

h5 {
  font-weight: bold;
  font-size: 1.8rem;
  color: blue;
}
