.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: rgb(131, 125, 125);
  color: rgb(113, 240, 10);
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: rgb(240, 10, 10);
  color: #fff;
  border: 2px solid #fff;
}
